<%= form_with(model: [@event_type, @event_price]) do |f|%>

  <div class="mb-3">
    <%= f.label :base_price, class: 'form-label' %>
    <%= f.number_field :base_price, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :additional_guest_price, class: 'form-label' %>
    <%= f.number_field :additional_guest_price, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :extra_hour_price, class: 'form-label' %>
    <%= f.number_field :extra_hour_price, class: 'form-control' %>
  </div>

  <div class="mb-4 form-check">
    <%= f.label :price_for_weekend, class: 'form-check-label' %><br />
    <%= f.check_box :price_for_weekend, class: 'form-check-input' %>
  </div>

  <div>
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>

<% end %>