<h1>Detalhes do Pedido '<%= @order.code %>'</h1>

<p><strong><%= Order.human_attribute_name(:buffet) %>:</strong> <%= @order.buffet.brand_name %></p>
<p><strong><%= Order.human_attribute_name(:event_type) %>:</strong> <%= @order.event_type.name %></p>
<p><strong><%= Order.human_attribute_name(:event_date) %>:</strong> <%= I18n.localize(@order.event_date) %></p>
<p><strong><%= Order.human_attribute_name(:number_of_guests) %>:</strong> <%= @order.number_of_guests %></p>
<p><strong><%= Order.human_attribute_name(:payment_method) %>:</strong> <%= @order.payment_method.name %></p>
<p><strong><%= Order.human_attribute_name(:details) %>:</strong> <%= @order.details %></p>
<% if @order.event_type.location_type == 'off_site' %>
  <p><strong><%= Order.human_attribute_name(:address) %>:</strong> <%= @order.address %></p>    
<% end %>
<p><strong><%= Order.human_attribute_name(:status) %>:</strong> <%= I18n.translate(@order.status) %></p>

<% if @order.order_budget.present? %>
  <h3>Orçamento para o pedido:</h3>
  <p><strong>Meio de pagamento:</strong> <%= @order.order_budget.payment_method.name %></p>
  <p><strong>Taxa Extra:</strong> <%= number_to_currency(@order.order_budget.extra_fee, unit: "R$", separator: ",", delimiter: ".") %></p>
  <p><strong>Desconto:</strong> <%= number_to_currency(@order.order_budget.discount, unit: "R$", separator: ",", delimiter: ".") %></p>
  <p><strong>Valor final:</strong> <%= number_to_currency(@order.order_budget.final_price, unit: "R$", separator: ",", delimiter: ".") %></p>
  <p><strong>Observações:</strong> <%= @order.order_budget.description %></p>
  <p><strong>Orçamento válido até:</strong> <%= I18n.localize(@order.order_budget.valid_until) %></p>
<% end %>

<% if current_user.is_buffet_owner %>

  <% if @order.pending? %>
    <%= link_to 'Gerar Orçamento', new_order_order_budget_path(order_id: @order.id) %>
  <% end %>

  <% if @orders_same_day.any? %>
    <div class="alert alert-warning">
      <strong>Aviso:</strong> Existem outros pedidos para a mesma data.
      <% @orders_same_day.each do |order| %>
        <p>
          Pedido <%= order.code %> - <%= order.event_type.name %>
        </p>
      <% end %>
    </div>
  <% end %>

<% else %>

  <% if @order.approved? %>
    <% if Date.today <= @order.order_budget.valid_until %>
      <%= button_to 'Confirmar Pedido', confirmed_order_path(@order)%>
    <% else %>
      <p>O prazo para confirmação deste pedido expirou.</p>
    <% end %>
    <p>Data-limite para confirmação: <%= @order.order_budget.valid_until %></p>
  <% end %>

<% end %>



