<div class="container mt-5">
  <h1 class="mb-4 text-primary">Avaliar Buffet</h1>

  <%= form_with(model: [ @buffet, @review ], local: true) do |f| %>
    <div class="mb-3">
    <%= f.label :rating, 'Nota:', class: 'form-label' %>
    <%= f.select :rating, options_for_select((0..5).map { |i| [i, i] }), {}, class: 'form-control' %>
  </div>
  
    <div class="mb-3">
      <%= f.label :comment, 'Comentário:', class: 'form-label' %>
      <%= f.text_area :comment, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :photos, 'Fotos:', class: 'form-label' %>
      <%= f.file_field :photos, multiple: true, direct_upload: true, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.submit "Enviar", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
