<!DOCTYPE html>
<html>
  <head>
    <title>Cadê Buffet?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="container">
        
        <div class="row">
          <div class="col">
            <h1>
              <%= link_to root_path do %>
                <%= image_tag 'logo.png', alt: 'Logo Cadê Buffet', width: "500" %>
              <% end %>
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <nav id = 'nav-bar'>
              
              <% if user_signed_in? %>
                  <% if current_user.is_buffet_owner %>
                    <ul class="nav nav-pills gap-2 ">
                      <li class="nav-item bg-warning rounded-5" >
                        <button class="nav-link"> <%= link_to 'Home', root_path, class: "text-white text-decoration-none" %> </button>
                      </li>
                      <% if current_user.buffet %>
                        <li class="nav-item bg-warning rounded-5" >
                          <button class="nav-link" id="nav-meu-buffet"> <%= link_to 'Meu buffet', buffet_path(current_user.buffet), class: "text-white text-decoration-none" %> </button>
                        </li> 
                        <li class="nav-item bg-warning rounded-5" >
                          <button class="nav-link" id="nav-pedidos"> <%= link_to 'Pedidos', orders_path, class: "text-white text-decoration-none" %> </button>
                        </li>
                      <% else %>
                      <li class="nav-item bg-warning rounded-5" >
                        <button class="nav-link"> <%= link_to 'Cadastrar Buffet', new_buffet_path, class: "text-white text-decoration-none" %> </button>
                      </li>
                      <% end %>
                      <li class="nav-item bg-warning rounded-5" >
                        <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-warning nav-link text-white', form_class: 'd-inline' %>
                      </li>
                    </ul>
                  <% else %>
                    <ul class="nav nav-pills gap-2 ">
                      <li class="nav-item bg-warning rounded-5" >
                        <button class="nav-link"> <%= link_to 'Home', root_path, class: "text-white text-decoration-none" %> </button>
                      </li>
                      <li class="nav-item bg-warning rounded-5" >
                        <button class="nav-link" id="nav-meus-pedidos"> <%= link_to 'Meus Pedidos', orders_path, class: "text-white text-decoration-none" %> </button>
                      </li> 
                      <li class="nav-item bg-warning rounded-5" >
                        <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-warning nav-link text-white', form_class: 'd-inline'  %>  
                      </li>
                    </ul>
                    <br>
                    <div class="d-flex align-items-center">
                      <%= form_with(url: search_buffets_path, method: :get, id: 'search-form', local: true, class: "d-flex") do |f| %>
                          <%= f.label :query, 'Buscar Buffet', class: 'sr-only' %>
                          <%= f.text_field :query, class: 'form-control me-2', placeholder: 'Buscar Buffet', style: "width: 300px;" %>
                          <%= f.submit 'Buscar', class: 'btn btn-outline-warning' %>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                <ul class="nav nav-pills gap-2 ">
                  <li class="nav-item bg-warning rounded-5" >
                    <button class="nav-link"> <%= link_to 'Home', root_path, class: "text-white text-decoration-none" %> </button>
                  </li>
                  <li class="nav-item bg-warning rounded-5" >
                    <button class="nav-link" id="nav-cadastrar"> <%= link_to 'Cadastrar', new_user_registration_path, class: "text-white text-decoration-none" %> </button>
                  </li>
                  <li class="nav-item bg-warning rounded-5">
                    <button class="nav-link" id="nav-entrar"> <%= link_to 'Entrar', new_user_session_path, class: "text-white text-decoration-none" %> </button>
                  </li>
                </ul>
                <br>
                  <div class="d-flex align-items-center">
                    <%= form_with(url: search_buffets_path, method: :get, id: 'search-form', local: true, class: "d-flex") do |f| %>
                        <%= f.label :query, 'Buscar Buffet', class: 'sr-only' %>
                        <%= f.text_field :query, class: 'form-control me-2', placeholder: 'Buscar Buffet', style: "width: 300px;" %>
                        <%= f.submit 'Buscar', class: 'btn btn-outline-warning' %>
                    <% end %>
                  </div>

                <% end %>

            </nav>
          </div>
        </div>
        
        <% if notice.present? || alert.present? %>
          <div class="row mt-3">
            <div class="col-md-3">
              <% if notice.present? %>
                <p class="notice alert alert-success" role="alert"><%= notice %></p>
              <% end %>
              <% if alert.present? %>
                <p class="alert alert-danger" role="alert"><%= alert %></p>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </header>
    
    <main>
      <%= yield %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
